.chat {
  padding-top: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.spinner {
  justify-content: center;
  align-items: center;
}

.chat .card {
  border: none;
}

.chat h4 {
  text-align: center;
  justify-content: center;
}

.chat p {
  padding: 0;
  margin: 0;
}

.chat .chat-item {
  padding: 10px 20px;
  display: flex;
  margin-top: 20px;
  margin-right: auto;
  margin-left: 20px;
  border-radius: 20px 20px 20px 0;
  max-width: 50%;
  background-color: rgb(212, 212, 212);
  float: left;
  border: none;
  box-shadow: none;
}

.chat .operator {
  margin-left: auto;
  margin-right: 20px;
  border-radius: 20px 20px 0 20px;
  background-color: #0d6efd;
  color: white;
}

.chat-item__time {
  font-size: 12px;
  font-weight: 400;
}

.dialog-complete {
  position: relative;
  text-align: center;
  margin-top: 50px;
}

.dialog-complete span {
  text-transform: uppercase;
  padding: 6px 20px;
  font-size: 14px;
  font-weight: 600;
  background-color: rgb(161 201 255);
  letter-spacing: 0.5px;
  border-radius: 10px;
  position: relative;
  display: inline-block;
}

.dialog-complete::before {
  content: '';
  position: absolute;
  left: 0;
  top: 44%;
  height: 3px;
  width: 100%;
  background-color: rgb(161 201 255);
}

.chat__input-wrapper {
  position: relative;
  bottom: 0;
}
