.chat-list {
  position: relative;
  overflow: hidden;
  background-color: #0d6efd;
  margin-right: auto;
  width: 30%;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 50px;
  min-height: 100vh;
  margin-top: -50px;
}

.chat-list .card {
  flex-direction: row;
  min-height: 50px;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
  margin-top: 15px;
  border: none;
  font-weight: 600;
  transition: all 0.15s;
}

.chat-list .card p {
  margin: 0;
}

.chat-list .input-group-text {
  background-color: #3297ff;
  border: none;
  color: #0c50b6;
}
.chat-list .card:hover p {
  text-decoration: underline;
}

.chat-list .card:hover,
.chat-list .card:hover *,
.chat-list .card:hover + .rating {
  background-color: #036ed8;
}

.chat-list .card:hover > .bnt-enter {
  border-color: #036ed8;
}

.rating {
  transition: all 0.15s;
  text-align: center;
}

.chat-list .card > .btn {
  position: absolute;
  right: 30px;
}

.chat-list input {
  height: 3rem;
  background-color: #3297ff;
  border: none;
  color: white;
  font-size: 20px;
}

.chat-list input:hover {
  background-color: #3297ff;
  color: white;
}

.chat-list input:focus {
  background-color: #3297ff;
  color: white;
  border: none;
  box-shadow: none;
}
